
  <head>
    <title>A day in the life</title>
    <link rel='stylesheet' href='/style.css'></link>
  </head>

  <body>
    {{{body}}}
    <div class="footer">
      <p>Kindly brought to you buy Clever Cliff, Brainy Brad and Creative Cate</p>
    </div>
  </body>
