<h1>A day in the life adventure game</h1>
<h2>Welcome to our adventure game. Please following along with the story and
see how you fare at EDA.</h2>

<a class=button href="/scenes/1">Start!</a>
{{!--
<button type="button">Start!</button> --}}
